.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background-color: #e5e5e5;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    background-color: #fff;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

.thumbnail {
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    cursor: pointer;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
}
.thumbnail:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    border-color: #bfbfbf;
}

#home-page,
#board-page,
#scores-page {
    margin: 15px;
}

.board {
    margin-bottom:20px;
}
.easy {
    width: 390px;
    color: #0A9C0A;
}
.medium {
    width: 694px;
    color: #EA4D00;
}
.expert{
    width: 1300px;
    color: #CA0000;
}
.debug {
    margin-top: 10px;
    margin-bottom: 20px;
}

.cell {
    float: left;
    width: 38px;
    height: 34px;
    margin-right: 5px;
    margin-top: 8px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

}

.caption.game {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; color: #fff;
}
.game.green {
    background-color: #47a447;
    border-color: #398439;
}
.game.orange {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.game.red{
    background-color: #d9534f;
    border-color: #d43f3a;
}

#board-page > p > span {
    font-size: 1.3em;
}
#gamedifficulty {
    font-weight: bold;
}
#minesleft {
    font-weight: bold;
}

.btn:focus, .btn.active:focus {
  outline: none !important;
}
.btn3d {
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    border: 0px;
    top: 0;
}
.btn3d:focus {
    outline: medium none;
    -moz-outline-style: none;
}
.btn3d:active{
    top: 5px;
}
.btn3d.btn-default {
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #adadad, 0 4px 0 1px rgba(0, 0, 0, 0.4), 0 4px 4px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-primary {
    box-shadow: 0 0 0 1px #428bca inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #357ebd, 0 4px 0 1px rgba(0, 0, 0, 0.4), 0 4px 4px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-success {
    box-shadow: 0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #4cae4c, 0 4px 0 1px rgba(0, 0, 0, 0.4), 0 4px 4px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-info {
    box-shadow: 0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #46b8da, 0 4px 0 1px rgba(0, 0, 0, 0.4), 0 4px 4px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-warning {
    box-shadow: 0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #eea236, 0 4px 0 1px rgba(0, 0, 0, 0.4), 0 4px 4px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-danger {
    box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #c24032, 0 4px 0 1px rgba(0, 0, 0, 0.4), 0 4px 4px 1px rgba(0, 0, 0, 0.5);
}
.btn3d:active.btn-default,
.btn3d.active.btn-default {
    top: 5px;
    height: 34px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.btn3d:active.btn-primary {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.btn3d:active.btn-success {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.btn3d:active.btn-info {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.btn3d:active.btn-warning {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.btn3d:active.btn-danger {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.btn3d.active {
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.btn3d.active span._1 {
    color: #ff0000;
}
.btn3d.active span._2 {
    color: #ff6000;
}
.btn3d.active span._3 {
    color: #ffc000;
}
.btn3d.active span._4 {
    color: #fff000;
}
.btn3d.active span._5 {
    color: #fff600;
}
.btn3d.active span._6 {
    color: #fffc00;
}
.btn3d.active span._7 {
    color: #ffff00;
}
.btn3d.active span._8 {
    color: #ffff60;
}


i.fa {
    position: relative;
    top: 2px;
    left: -2px;
    font-size: 1.3em;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

i.fa.fa-flag {

}
