<div class="container-fluid">
    <h4>Games</h4>
    <div class="game-container">
        <div class="thumbnail" ng-repeat="game in games" ng-click="goTo(game.difficulty)">
            <img ng-src="images/{{ game.difficulty.toLowerCase() }}.png" class="game-thumb" alt="...">
            <div ng-if="game.difficulty !== 'Custom'" class="caption game" ng-class="game.difficulty.toLowerCase()">
                {{ game.difficulty }} ({{ game.columns }}x{{ game.rows }})
            </div>
            <div ng-if="game.difficulty === 'Custom'" class="caption game" ng-class="game.difficulty.toLowerCase()">
                {{ game.difficulty }}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
