<div class="container">
    <h4>Games</h4>
    <div class="game-container">
        <div class="thumbnail" ng-repeat="game in games" ng-click="goTo(game.difficulty)">
            <img ng-src="images/{{ game.difficulty.toLowerCase() }}.png" class="game-thumb" alt="...">
            <div class="caption game" ng-class="game.difficulty.toLowerCase()">
                {{ game.difficulty }} ({{ game.columns }}x{{ game.rows }})
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
